<strong><%= @post.title %> </strong> by: <strong><%=link_to @user.username, user_path(@user)%></strong> </strong>
<br><small>at: <%= @post.created_at.in_time_zone("Asia/Dhaka").strftime("%l:%M %p, %a %b %e") %></small>
<p><%= @post.body %></p>


<%if user_signed_in? && @user==current_user%>
  <h4> <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
<%end%>
</h4>
<div>
  <strong><%= pluralize(@post.likes.count, "Like") %></strong>
  <div style="margin-top: 10px;">
    <% if current_user.liked?(@post) %>
      <%= button_to 'Unlike', unlike_post_path(@post), method: :delete %>
    <% else %>
      <%= button_to 'Like', like_post_path(@post), method: :post %>
    <% end %>
  </div>
</div>
<p>
    <h3>Comments:</h3>
    <div id="comments">
      <%= render @post.comments.where(parent_id: nil).order(created_at: :desc) %>
    </div>
    <%= render "comments/form", post: @post, parent: nil%>
</p>